{% extends 'base.html' %}
{% block title %} EXPLORE NATURE - HOME {% endblock %}

{% block content %}
    <div id="main">
        <div id="nav-overlay">
            <div id="navbar">
            {% include 'partials/navbar.html' %}
            </div>

            <div class="center">
                <div class="index-btn">
                    <h2>Let's Explore Valley</h2>
                </div>

                <div class="main-text">
                    <h1>AMAZING and</h1>
                    <h2>~BEAUTIFUL Views</h2>
                    <h3>EVERYDAY</h3>
                </div>
            </div>
        </div>

    </div>

{% endblock %}

